In [1]:
import pandas as pd
from Bio import SeqIO

In [ ]:
#create a cumulative score to select a "best" protein sequence

In [2]:
data = pd.read_csv('VAE_nsga3_trim1.csv')

In [3]:
data.head()

,proteins,solubility_rules,synthesis_rules,hmm
0,IKLSISPVETLKQTVELAKQAEKWGYHRFWVSEHHFSGSPEVLISH...,2.0,18.0,21.2
1,MKFGVFAEAAERFEDQVEQARMIEQRDFTTVWITEHTSNEPSPMVV...,2.0,44.0,82.7
2,MKFSLFYEAEWSVSDRRSFNDLVEQTLMAEEGDFTTVWIPEHHSME...,2.0,65.0,129.7
3,IKLSISPAETLKQTVELAKQAEKWGYHRFWVSEHHFSGSPEVLISH...,3.0,18.0,21.6
4,MKFSLFYEAEWSVSDRRSFNDLTEQTLMAEEGDFTTVWIPEHHSME...,2.0,61.0,125.6

In [7]:
data['hmm'][292]

156.3

In [15]:
score = data['hmm'] - data['synthesis_rules']
proteins = data['proteins']
new_data = {'proteins': proteins,'score':score}
df = pd.DataFrame(new_data)

In [16]:
df.head()

                                            proteins  score
0  IKLSISPVETLKQTVELAKQAEKWGYHRFWVSEHHFSGSPEVLISH...    3.2
1  MKFGVFAEAAERFEDQVEQARMIEQRDFTTVWITEHTSNEPSPMVV...   38.7
2  MKFSLFYEAEWSVSDRRSFNDLVEQTLMAEEGDFTTVWIPEHHSME...   64.7
3  IKLSISPAETLKQTVELAKQAEKWGYHRFWVSEHHFSGSPEVLISH...    3.6
4  MKFSLFYEAEWSVSDRRSFNDLTEQTLMAEEGDFTTVWIPEHHSME...   64.6

In [20]:
df = df.sort_values(by='score', ascending=False)

In [23]:
df.head()

                                              proteins  score
292  MKFSLFAEARNSQTHRFDKLVEQARLAEERDFTTVWTPEHHSHEFS...   99.3
296  MKFSLFYEARNSQTHRFDKLVEQARLAEERDFTTVWTPEHHSHEFS...   98.0
299  MKFSLFYEARNSQTHRFDKLVEQARLAEERDFTTVWTPEHHSHEFS...   98.0
294  MKFSLFYEARNSQTHRFDKLVEQARLAEERDFTTVWTPEHHSHEFS...   98.0
41   MKFSLFYEAENSISHRRFDNLVEQTRMAEEGDFTTVWTPEHHSHEI...   92.8

In [24]:
df['proteins'][292]

'MKFSLFAEARNSQTHRFDKLVEQARLAEERDFTTVWTPEHHSHEFSPSPMVTLAHLAAKTERVALGTAGIVAPLHPIRVAKEIAVLDHLSNGRAVVGFARGWTQTEFAAFGVASRQAGLREIVDAIQKLWADDTAEHVGQYVKIPKATAVPKPIQKPHPPMWVAQGGPENFKWAAEHGAGFMVTLLGGLEEIEKRIKEFREAFDHEDPKVAVLRHTHVTNKDGVRNVAIQFKREFSVQKNRRAEIAELADFTDESFHKRGVFGSVDEVVDRLERLDGVDEIALDAKEVLDGLALLQEQHRAYFRA'